html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.map {
  background-color: lightgray;
  margin: 5px;
  float: left;
}

.map, .map > div {
  width: 500px;
  height: 500px;
}
.intersected {
  background-color: white;
}